# https://beta.ruff.rs/docs/rules/
lint.select = [
  # rules from pyflakes
  "F",

  # rules from pycodestyle
  "E", "W",

  # rules from mccabe
  "C90",

  # rules from isort
  "I",

  # rules from pyupgrade
  "UP",

  # rules from flake8-2020
  "YTT",

  # rules from flake8-annotations
#  "ANN",

  # rules from flake8-bandit
  "S",

  # rules from flake8-blind-except
  "BLE",

  # rules from flake8-boolean-trap
  # TODO: "FBT",

  # rules from flake8-bugbear
  "B",

  # rules from flake8-builtins
  "A",

  # rules from flake8-commas
  "COM",

  # rules from flake8-comprehensions
  "C4",

  # rules from flake8-datetimez
  # TODO: "DTZ",

  # rules from flake8-debugger
  "T10",

  # rules from flake8-django
  "DJ",

  # rules from flake8-errmsg
  "EM",

  # rules from flake8-executable
  "EXE",

  # rules from flake8-implicit-str-concat
  "ISC",

  # rules from flake8-import-conventions
  "ICN",

  # rules from flake8-logging-format
  "G",

  # rules from flake8-no-pep420
  "INP",

  # rules from flake8-pie
  # TODO: "PIE",

  # rules from flake8-print
  "T20",

  # rules from flake8-pyi
  "PYI",

  # rules from flake8-pytest-style
  # TODO: "PT",

  # rules from flake8-raise
  "RSE",

  # rules from flake8-return
  "RET",

  # rules from flake8-self
  # TODO: "SLF",

  # rules from flake8-simplify
  "SIM",

  # rules from flake8-tidy-imports
  "TID",

  # rules from flake8-type-checking
  "TCH",

  # rules from flake8-gettext
  "INT",

  # rules from flake8-unused-arguments
  # TODO: "ARG",

  # rules from flake8-use-pathlib
  "PTH",

  # removes unused noqa comments
  "RUF100",
]

lint.ignore = [
  # missing trailing comma, covered by black
  # docs: https://docs.astral.sh/ruff/rules/missing-trailing-comma/
  "COM812",
  # ignore missing type annotation in self parameter
  # docs: https://docs.astral.sh/ruff/rules/missing-type-self/#missing-type-self-ann101
  "ANN101",  
  # ignore builtin import shadowing
  # docs: https://docs.astral.sh/ruff/rules/builtin-import-shadowing/#builtin-import-shadowing-a004
  "A004",
  # ignore Standard pseudo-random generators because they are not used for cryptographic purposes
  # docs: https://docs.astral.sh/ruff/rules/suspicious-non-cryptographic-random-usage/#suspicious-non-cryptographic-random-usage-s311
  "S311",
  # ignore stdlib module shadowing
  # docs: https://docs.astral.sh/ruff/rules/stdlib-module-shadowing/
  "A005",
]

fix = true

target-version = "py39"

[lint.flake8-tidy-imports]
## Disallow all relative imports.
ban-relative-imports = "all"

[lint.per-file-ignores]
# ignore assert statements in tests
"tests/*.py" = ["S101"]

# ignore SECRET_KEY in settings files in tests
"tests/settings/*.py" = ["S105"]

# pickle is used on purpose and its use is discouraged
"django_redis/serializers/pickle.py" = ["S301"]
