language: python
cache: pip

matrix:
  include:
    - env: TOXENV=lint
    - python: 3.6
      env: TOXENV=py36-django22-redislatest
    - python: 3.6
      env: TOXENV=py36-django22-redismaster
    - python: 3.7
      env: TOXENV=py37-django22-redislatest
    - python: 3.7
      env: TOXENV=py37-django22-redismaster
    - python: 3.8
      env: TOXENV=py38-django22-redislatest
    - python: 3.8
      env: TOXENV=py38-django22-redismaster
    - python: 3.9-dev
      env: TOXENV=py39-django22-redislatest
    - python: 3.9-dev
      env: TOXENV=py39-django22-redismaster
    - python: 3.6
      env: TOXENV=py36-django30-redislatest
    - python: 3.6
      env: TOXENV=py36-django30-redismaster
    - python: 3.7
      env: TOXENV=py37-django30-redislatest
    - python: 3.7
      env: TOXENV=py37-django30-redismaster
    - python: 3.8
      env: TOXENV=py38-django30-redislatest
    - python: 3.8
      env: TOXENV=py38-django30-redismaster
    - python: 3.9-dev
      env: TOXENV=py39-django30-redislatest
    - python: 3.9-dev
      env: TOXENV=py39-django30-redismaster
    - python: 3.6
      env: TOXENV=py36-django31-redislatest
    - python: 3.6
      env: TOXENV=py36-django31-redismaster
    - python: 3.7
      env: TOXENV=py37-django31-redislatest
    - python: 3.7
      env: TOXENV=py37-django31-redismaster
    - python: 3.8
      env: TOXENV=py38-django31-redislatest
    - python: 3.8
      env: TOXENV=py38-django31-redismaster
    - python: 3.9-dev
      env: TOXENV=py39-django31-redislatest
    - python: 3.9-dev
      env: TOXENV=py39-django31-redismaster
    - python: 3.6
      env: TOXENV=py36-djangomaster-redislatest
    - python: 3.6
      env: TOXENV=py36-djangomaster-redismaster
    - python: 3.7
      env: TOXENV=py37-djangomaster-redislatest
    - python: 3.7
      env: TOXENV=py37-djangomaster-redismaster
    - python: 3.8
      env: TOXENV=py38-djangomaster-redislatest
    - python: 3.8
      env: TOXENV=py38-djangomaster-redismaster
    - python: 3.9-dev
      env: TOXENV=py39-djangomaster-redislatest
    - python: 3.9-dev
      env: TOXENV=py39-djangomaster-redismaster
  allow_failures:
    - env: TOXENV=py36-djangomaster-redislatest
    - env: TOXENV=py36-djangomaster-redismaster
    - env: TOXENV=py37-djangomaster-redislatest
    - env: TOXENV=py37-djangomaster-redismaster
    - env: TOXENV=py38-djangomaster-redislatest
    - env: TOXENV=py38-djangomaster-redismaster
    - env: TOXENV=py39-djangomaster-redislatest
    - env: TOXENV=py39-djangomaster-redismaster

install:
  - pip install tox

script:
  - tox

services:
  - redis-server
