sudo: false
language: python
cache: pip

matrix:
  include:
    - python: 2.7
      env: DJANGO="Django>=1.11,<2.0"
    - python: 3.4
      env: DJANGO="Django>=1.11,<2.0"
    - python: 3.5
      env: DJANGO="Django>=1.11,<2.0"
    - python: 3.6
      env: DJANGO="Django>=1.11,<2.0"
    - python: 3.4
      env: DJANGO="Django>=2.0,<2.1"
    - python: 3.5
      env: DJANGO="Django>=2.0,<2.1"
    - python: 3.6
      env: DJANGO="Django>=2.0,<2.1"

install:
  - pip install $DJANGO
  - pip install -r requirements.txt

before_script:
  - flake8 django_redis tests
  - isort --check-only --diff --recursive django_redis tests

script:
  - python tests/runtests.py
  - python tests/runtests-sharded.py
  - python tests/runtests-herd.py
  - python tests/runtests-json.py
  - python tests/runtests-msgpack.py
  - python tests/runtests-zlib.py
  - python tests/runtests-lz4.py

services:
  - redis-server

notifications:
  email:
    recipients:
      - niwi@niwi.be
    on_success: change
    on_failure: change
