sudo: false
language: python
cache: pip

matrix:
  include:
    - python: 2.7
      env: TOXENV=py27-django18
    - python: 3.3
      env: TOXENV=py33-django18
    - python: 3.4
      env: TOXENV=py34-django18
    - python: 3.5
      env: TOXENV=py35-django18
    - python: 2.7
      env: TOXENV=py27-django110
    - python: 3.4
      env: TOXENV=py34-django110
    - python: 3.5
      env: TOXENV=py35-django110
    - python: 2.7
      env: TOXENV=py27-django111
    - python: 3.4
      env: TOXENV=py34-django111
    - python: 3.5
      env: TOXENV=py35-django111
    - python: 3.6
      env: TOXENV=py36-django111
    - python: 3.4
      env: TOXENV=py34-django20
    - python: 3.5
      env: TOXENV=py35-django20
    - python: 3.6
      env: TOXENV=py36-django20
    - env: TOXENV=lint

install:
  - pip install tox

script:
  - tox

services:
  - redis-server

notifications:
  email:
    recipients:
      - niwi@niwi.be
    on_success: change
    on_failure: change
