name: CI

on: [push, pull_request]

jobs:
  test:
    name: Test Python ${{ matrix.python-version }}, Django ${{ matrix.django-version }}, Redis.py ${{ matrix.redis-version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'
        django-version:
          - '2.2'
          - '3.1'
          - '3.2'
        redis-version:
          - 'latest'

        # only test pre-release dependencies for the latest Python
        include:
          # latest Django with pre-release redis
          - django-version: '3.2'
            redis-version: 'master'
            python-version: '3.9'

          # latest redis with pre-release Django
          - django-version: 'main'
            redis-version: 'latest'
            python-version: '3.9'

          # pre-release Django and redis
          - django-version: 'main'
            redis-version: 'master'
            python-version: '3.9'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Get pip cache dir
      id: pip-cache
      run: |
        echo "::set-output name=dir::$(pip cache dir)"

    - name: Cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.pip-cache.outputs.dir }}
        key:
          ${{ matrix.python-version }}-test-django-${{ matrix.django-version }}-redis-${{ matrix.redis-version }}-${{ hashFiles('**/setup.*') }}
        restore-keys: |
          ${{ matrix.python-version }}-test-

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install --upgrade tox tox-gh-actions

    - name: Tox tests
      run: |
        REDIS_PRIMARY=$(tests/start_redis.sh)
        REDIS_SENTINEL=$(tests/start_redis.sh --sentinel)
        CONTAINERS="$REDIS_PRIMARY $REDIS_SENTINEL"
        trap "docker stop $CONTAINERS && docker rm $CONTAINERS" EXIT
        tests/wait_for_redis.sh $REDIS_PRIMARY 6379
        tests/wait_for_redis.sh $REDIS_SENTINEL 26379

        tox
      env:
        DJANGO: ${{ matrix.django-version }}
        REDIS: ${{ matrix.redis-version }}

    - name: Upload coverage
      uses: codecov/codecov-action@v1
      with:
        name: Python ${{ matrix.python-version }}

  lint:
    name: Lint
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        linter:
          - 'black'
          - 'flake8'
          - 'isort'

    steps:
      - uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2

      - name: Get pip cache dir
        id: pip-cache
        run: |
          echo "::set-output name=dir::$(pip cache dir)"

      - name: Cache
        uses: actions/cache@v2
        with:
          path: ${{ steps.pip-cache.outputs.dir }}
          key:
            ${{ matrix.python-version }}-lint-${{ matrix.linter }}-${{ hashFiles('**/setup.*') }}
          restore-keys: |
            ${{ matrix.python-version }}-lint-

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --upgrade tox tox-gh-actions

      - name: Run
        run: tox -e lint-${{ matrix.linter }}
